@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Acme', sans-serif;
}

body{
    display: grid;
    place-content: center;
    width: 100%;
    height: 100vh;
    padding: 1rem 0;
    list-style: none;
    background: linear-gradient(135deg, rgba(13, 14, 13, 0.925)0%, rgb(36, 65, 192)100%);
}

.main-container{
    display: flex;
    justify-content: space-around;
}

h1{
    display: flex;
    justify-content: center;
    text-align: center;
    color: #fff;
    padding-bottom: 1rem;
    text-transform: uppercase;
}

.container,
.container-1,
.container-2{
    display: flex;
    width: 480px;
    height: 680px;
    margin-right: 1rem;
    box-shadow: 20px 10px 30px 10px rgba(2, 2, 2, 0.4);
    background-color: #06ba63;
    border-radius: 10px;
}

.container-1{
    background-color: #3f32ec;
}

.content-wrapper{
    display: grid;
    justify-self: center;
}

img{
    justify-self: center;
    padding: 1rem 2rem 1rem 1.5rem;
    width: 480px;
    height: 270px;
    border-radius: 60px;
}

.card-title{
    text-transform: uppercase;
    font-size: 20px;
    text-align: center;
    color: #fff;
}

.listing{
    font-size: 20px;
    text-align: center;
    color: #fff;
}

article{
    padding: 0 2rem 0 1rem;
    line-height: 1.5;
    text-align: center;
    font-size: 1rem;
    color: #fff;
    font-family: 'Roboto', sans-serif;
}


.rating{
    width: 450px;
    border-radius: 10px;
    background-color: #fff;
    margin: 1rem 1rem;
    color: #000;
    padding: 1rem;
}

h3{
    text-transform: uppercase;
    font-size: 16px;
    text-align: center;
}

.rating li{
    padding-top: 1rem;
}

.bar{
    background: #353b48;
    display: block;
    height: 10px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    overflow: hidden;
}

.bar span{
    height: 20px;
    float: left;
    background: linear-gradient(135deg, rgb(236, 35, 45)0%, rgb(15, 255, 149)100%);
}


/*Wolf rating*/
.top-speed{
    width: 45%;
}

.weight{
    width: 29%;
}

.life-span{
    width: 92%;
}

.smell{
    width: 85%;
}

/*Jaguar rating*/
.top-speed-1{
    width: 80%;
}

.weight-1{
    width: 85%;
}

.life-span-1{
    width: 76%;
}

.smell-1{
    width: 89%;
}

/*Shark rating*/
.top-speed-2{
    width: 67%;
}

.weight-2{
    width: 50%;
}

.life-span-2{
    width: 78%;
}

.smell-2{
    width: 86%;
}